[
    {server, [
        {cacertfile, "/etc/rabbitmq/ca_certificate.pem"},
        {certfile, "/etc/rabbitmq/server_certificate.pem"},
        {keyfile, "/etc/rabbitmq/server_key.pem"},
        {verify, verify_peer},
        {secure_renegotiate, true},
        {fail_if_no_peer_cert, true}
    ]},
    {client, [
        {cacertfile, "/etc/rabbitmq/ca_certificate.pem"},
        {certfile, "/etc/rabbitmq/client_certificate.pem"},
        {keyfile, "/etc/rabbitmq/client_key.pem"},
        {verify, verify_peer},
        {secure_renegotiate, true},
        {fail_if_no_peer_cert, true}
    ]}
].
